body{
    margin: 0;
}
.one{
    background: url("../img/bg.jpg") center /cover;
    width: 100%;
    height: 70vh;
}
.two{
    background: url("../img/bg2.jpg") center /cover;
    width: 100%;
    height: 70vh;
}
.three{
    background: url("../img/bg3.jpg") center /cover;
    width: 100%;
    height: 70vh;
}
.carousel-item{
    padding-top: 50px;
}
.img-group img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.img-group img{
    width: 100px;
    height: 100px;
    margin: 2px;
    transition: 0.5s;
}
@media screen and (max-width:1200px){
    .mo{
        text-align: center;
    }
}
@media screen and (max-width:600px){
    .dd p{
        display: none;
        
    }
    .dd h1{
        font-size: 25px;
    }
    
}